html, body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 25%;
    background-color: rgb(91, 185, 226);
    padding: 10px 20px 0px;
}
.header {
    min-height: 140px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(91, 185, 226);
    min-height: 50px;
}
.img-template{
    width: 1000px;    
    height: 230px;
}
a{
    text-decoration: none;
    color: black;
}
#contato{
    display: inline-flex;
}
.mapa{
    width: 50%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.formulario{
    width: 50%;
    height: 60%;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
}
.mapa-rua{
    width: 100%;
}
input{
    margin-bottom: 10px;
}
.img-consultorio{
    
    height: 230px;
}
#template{
    display: inline-flex;
}
#img-consulta{
    padding: 10px;
}
#img-contato{
    height: 400px;
}
input{
    width: 72%;
}
#nome{
    margin-left: 32px;
}
#email{
    margin-left: 31px;
}
#assunto{
    margin-left: 19px;
}
button{
    color: #f1f1f1;
    background-color: rgb(91, 185, 226);
    border: none;
    width: 20%;
    height: 30px;
}
#cabecalho{
    background-color: black;
    color: #f1f1f1;
}